h1 {
    color: salmon;
    font-style: italic;
}

ul {
    list-style-type: none;
    display: inline;
    display: flex;
    
    justify-content: flex-end;
}
li {
    padding: 10px;
}

a {
    color: lightcoral;
    text-decoration: none;
}

div > p /* direct child selector- parent > child  */

div p /* Descendant(all children under the div that have the p tag) Selector - ancestor descendant*/

div, p /* multiple element selector */

