
.banner-container {
    position: relative;
    width: 100%; 
  }
  
  /* Banner image styling */
  
  
  .banner-image {
    display: block; 
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  /* Banner heading styling and positioning */
  
  
  
  .banner-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: whitesmoke;
    text-shadow: #333;
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    padding: 10px 20px;
    margin:auto;
  }
  
  
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;

  }
  
  .aboutus-header {
    font-size: 3rem;
    margin: 30px;


  
  }
  
  .history {
    
     border-radius: 15px;
     padding: 20px;
     box-sizing: border-box;
     width: 90%;
     font-family: inherit;
     font-size: 1.2rem;
     box-shadow: 0 15px 15px 0px gray;
   

  }
  
  /* Style the main heading for the section */
  
  .events-header {
    text-align: center;
    font-size: 4em;
    color: #333;


  }
  
  
  /* Container for the event cards */
  
  
  .event-cards {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;

  }
  
  
  /* Individual event card styling */
  
  
  .event {
    border-radius: 20px; 
    box-shadow: 0 5px 15px rgba(63, 61, 61, 0.1); 
    width: 400px; 
    display: flex; 
    flex-direction: column; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin-bottom: 40px;
   
  }
  
  .event:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  }
  
  
  
  /* Event image styling */
  
  
  .event img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    align-self: center;
    margin-top: 15px;
  }
  
  
  
  /* Style the heading within the card */
  
  
  .event h3 {
    font-size: 1.3em;
    color: #444;
    margin: 15px 15px 10px 15px;
    text-align: center;
  }
  
  
  
  /* Style paragraphs within the card (performer name, date) */
  
  
  .event p {
    font-size: 0.95em;
    color: #666;
    margin: 0 15px 10px 15px;
    line-height: 1.4;
    text-align: center;
  }
  .event p time {
    font-style: italic;
    color: #777;
  }
  
  
  
  /* Style the "See More" button */
  
  
  .more-button {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    margin: 20px; 
    margin-top: auto; /* Push button to the bottom of the card */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .more-button:hover {
    background-color: lightblue; /* lightblue on hover */
    color: #0b0b0b;
  }