body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}
.navigation-bar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0;
  position: sticky;
  flex-wrap: wrap;
}

.site-logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;
}

#nav-bar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.5s ease;
  
}
#nav-bar a:hover {
  background-color: lightblue;
  border-radius: 5px;
}
.site-logo:hover {
  transition: background-color 0.5s ease;
  background-color: lightblue;
}

.banner-section {
  display: flex;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  
}

figure {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
  display: block;
}

figure h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-shadow: 2px 2px 4px hsl(40, 0, 20);
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 4rem;
}

figure p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.main-content {
  display: flex;
  padding: 10px;
}

.future-events img {
  border-radius: 10px;
  box-shadow: 4px 4px hsl(20, 0, 40);
  
}

.future-events a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  transition: background-color 0.5 ease;
}

.future-events a:hover {
  background-color: black;
  color: white;
}

#card-one {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

#card-two {
  display: flex;
}

#card-three {
  display: flex;
}