:root {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 96%);
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  flex-wrap: wrap;
  margin: 0;
  border-radius: 10px;
  
}
.site-header > a {
  text-decoration: none;
  color: white;
  margin: 15px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 2rem;
}
.navbar ul {
  display: flex;
  gap: 20px;
  margin-right: 10px;
  color: white;
  flex-wrap: wrap;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.navbar > ul {
  padding-right: 15px;
}
.navbar ul li {
  list-style: none;
  
}

 .banner {
  height: 100px;
  width: 150px;
 }

.events-header {
  display: flex;
  align-self: center;
}

.event-cards {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 5px lightgray;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
}

.event-cards .event {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 5px lightgray;
  border-radius: 10px;
  padding: 14px;
  justify-content: space-around;
}
.event img {
  border-radius: 10px;
}

.event a {
  text-decoration: none;
  color: black;
  border: solid black 1px;
  text-align: center;
  border-radius: 14px;
  color: white;
  background-color: rgb(115, 185, 209);
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 12px;
  
}